---
import classes from "../utils/classes";
import { settingsDefaults } from "../utils/settingsDefaults";
import MinusIcon from "./icons/MinusIcon.astro";
import PlusIcon from "./icons/PlusIcon.astro";
---

<div
  id="settings-modal"
  class={classes(
    "collapsed",
    "fixed right-2 top-14 sm:top-2 rounded-3xl shadow bg-background",
    "border border-border w-[calc(100vw-1rem)] sm:w-auto z-10",
    "flex flex-col overflow-hidden"
  )}
>
  <button
    class={classes(
      "flex items-center gap-4 pl-5 relative",
      "border-b border-border justify-between",
      "hover-hover:hover:bg-brandPink rounded-t-3xl",
      "hover-hover:hover:text-white transition-colors",
      "group"
    )}
    id="settings-modal-toggle"
  >
    <h2 class="font-extrabold text-xl -mt-1.5">Anziehungen</h2>
    <span
      class={classes(
        "flex items-center justify-center",
        "shrink-0 flex p-2 text-discrete text-opacity-80",
        "hover-hover:group-hover:text-white transition-colors"
      )}
    >
      <span class="sr-only">Anziehungs-Einstellungen ein/ausklappen</span>
      <MinusIcon class="minus-icon" />
      <PlusIcon class="plus-icon" />
    </span>
  </button>
  <ul class="flex flex-col">
    <li class="px-4 py-2 border-b border-border">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Material</span>
        <input
          data-setting="material"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.material}
        />
      </label>
    </li>
    <li class="px-4 py-2 border-b border-border">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Farbton</span>
        <input
          data-setting="colorHue"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.colorHue}
        />
      </label>
    </li>
    <li class="px-4 py-2 border-b border-border">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Helligkeit</span>
        <input
          data-setting="colorLightness"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.colorLightness}
        />
      </label>
    </li>
    <li class="px-4 py-2 border-b border-border">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Sättigung</span>
        <input
          data-setting="colorSaturation"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.colorSaturation}
        />
      </label>
    </li><li class="px-4 py-2 border-b border-border">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Stil</span>
        <input
          data-setting="style"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.style}
        />
      </label>
    </li>
    <li class="px-4 py-2">
      <label class="grid grid-cols-3 items-center gap-4">
        <span class="text-lg -mt-1">Geschlecht</span>
        <input
          data-setting="gender"
          type="range"
          min="0"
          max="20"
          step="1"
          class="setting-input accent-brandPink col-span-2"
          value={settingsDefaults.gender}
        />
      </label>
    </li>
  </ul>
</div>

<script>
  import { SettingsKey, graphSettings } from "../utils/GraphSettings";

  const settingsModal = document.getElementById("settings-modal");
  const settingsModalToggle = document.getElementById("settings-modal-toggle");

  settingsModalToggle?.addEventListener("click", () => {
    settingsModal?.classList.toggle("collapsed");
    settingsModal?.classList.toggle("expanded");
  });

  const settingsInputs = [...document.querySelectorAll(".setting-input")];

  settingsInputs.forEach((settingInput) => {
    settingInput.addEventListener("change", (event) => {
      const input = event.target as HTMLInputElement;
      if (!input) return;
      const setting = input.dataset.setting as SettingsKey;
      const value = +input.value;

      graphSettings.change(setting, value);
    });
  });
</script>

<style is:global>
  #settings-modal.collapsed .minus-icon,
  #settings-modal.expanded .plus-icon {
    display: none;
  }

  #settings-modal ul {
    max-height: 0;
    @apply transition-all duration-500 ease-out-extreme;
  }

  #settings-modal.expanded ul {
    max-height: 248px;
  }
</style>
